@charset "UTF-8";
@import "../../fonts/fonts.css";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.clearfix,
.group {
  zoom: 1;
}
.clearfix:before, .clearfix:after,
.group:before,
.group:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after,
.group:after {
  clear: both;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

blockquote {
  border-left: 2px solid blue;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.4em;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 20px;
  padding-left: 25px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 68px;
  font-style: normal;
  font-weight: 500;
  margin: 0 0 10px;
}

h2 {
  margin: 0 0 25px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
}

h3 {
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  margin: 0 0 25px;
}

h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin: 0 0 25px;
}

h5 {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  margin: 0 0 25px;
}

p {
  margin: 0 0 20px;
}

pre {
  background: #222;
  color: #fff;
  display: block;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 13px;
  line-height: 20px;
  margin: 0 0 20px;
  padding: 10px;
  word-break: break-all;
  word-wrap: break-word;
}

a {
  color: #1271db;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 5px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4,
h5,
p,
ul,
ol {
    font-size: 14px;
  }
}
body {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
}

.wrapper {
  max-width: 980px;
  width: 90%;
  height: 90%;
}

header {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #f5f5f5;
}
header .menu {
  text-align: center;
}
header .menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
header .menu ul li {
  flex: 3;
}
header .menu ul li a {
  display: inline-block;
  width: 100%;
  padding: 20px 5px;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
header .menu ul li a:hover {
  color: #1271db;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
main .content {
  max-width: 600px;
}

.code {
  padding: 20px 20px;
  border-radius: 5px;
  background: #333333;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.code p {
  margin: 0;
  color: #fff;
  font-family: "SF Mono", Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
}

/*# sourceMappingURL=styles.css.map */
